.formRegistr {
  width: 490px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.wrapperField {
  display: flex;
  flex-direction: column;
  position: relative;
}

.subTitleRegistr {
  color: var(--color-black);
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 3px;
}

.titleRegistr {
  color: var(--color-black);
}

.inputRegistr {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  background: var(--color-grey);
  color: #b9b9b9;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 100%;
}

input[type='date']::-webkit-calendar-picker-indicator {
  cursor: pointer;
  color: transparent;
  opacity: 1;
  background: url('../../shared/assets/icons/calendar.png') no-repeat center;
  background-size: contain;
}

.inputPasswordWrapper {
  display: flex;
  background: var(--color-grey);
  color: #b9b9b9;
  border-radius: 5px;
}

.requiredRegistr {
  color: #f00;
}

.error {
  font-size: 12px;
  position: absolute;
  top: 60px;
}

.shortInput,
.shortError {
  width: 235px;
}

.addressContainer,
.nameContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 20px;
  margin: 0;
}

.btnRegistr {
  display: block;
  width: 490px;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  margin-bottom: 25px;
  background: linear-gradient(
    90deg,
    var(--color-start-gradient) 0%,
    var(--color-end-gradient) 100%
  );
}

.btnRegistr:disabled {
  color: var(--color-black);
}

.btnRegistr:disabled:hover {
  cursor: no-drop;
}

.checkbox {
  margin: 0 20px 0 0;
  width: 20px;
  padding: 0;
}

.wrapperCheckbox {
  color: var(--color-black);
  margin-bottom: 20px;
}

.labelCheckbox {
  display: flex;
}
