.popupContainer {
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popupBg {
  background: rgb(233 139 139 / 60%);
  position: absolute;
  width: 100%;
  height: 100%;
}

.popupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}

.popupBody {
  position: relative;
  max-width: 554px;
  min-width: 340px;
  background: var(--color-white);
  border-radius: 5px;
  padding: 30px;
}

.popupClose {
  width: 26px;
  height: 26px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.formPopup {
  max-width: 554px;
  background: var(--color-white);
  border-radius: 5px;
  padding: 30px;

  .wrapperField {
    width: 100%;
  }
}

.popupText {
  color: var(--color-input-text);
  padding-bottom: 20px;
}

@media (max-width: 645px) {
  .formPopup {
    max-width: 300px;
    max-height: 630px;
  }
}
