.mainPage {
  padding: 60px 0 80px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.listFilters {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.wrapperCardsProducts {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 30px;
}

.searchForm {
  max-width: 390px;
  min-width: 280px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0;
}

.searchInput {
  width: 100%;
  height: 48px;
  border: 1px solid var(--color-grey);
  background-color: var(--color-white);
  padding: 20px;
}

.searchImg {
  min-width: 48px;
  height: 48px;
  padding: 12px;
  gap: 10px;
  background-color: var(--color-grey);
  cursor: pointer;
}

.dropdown {
  color: var(--color-black);
  position: relative;
}

.dropdownContent {
  top: 45px;
  position: absolute;
  width: 180px;
  z-index: 1;
  background-color: var(--color-white);
  border: 1px solid var(--color-grey);
  border-radius: 5px;
}

.dropLink {
  color: var(--color-black);
  padding: 10px 20px;
  cursor: pointer;
}

.dropBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
  background-color: var(--color-grey);
  border-radius: 5px;
  padding: 12px 20px;
  width: 180px;
  height: 48px;
}

.dropBtn > .arrow {
  width: 20px;
  height: 18px;
  transition: all 0.5s ease-out;
}

.dropdownContent .dropLink:hover,
.dropBtn:hover {
  color: var(--color-red);
}

.upArrow {
  transform: rotate(180deg);
  transition: all 0.5s ease-out;
}

@media (max-width: 1445px) {
  .wrapperCardsProducts {
    justify-content: center;
  }
}
