.wrapperIcons {
  display: flex;
}

.userAccount,
.userBasket {
  margin: 10px;
  width: 46px;
  height: 40px;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-black);
  cursor: pointer;
}

.userAccount {
  text-decoration: none;
}

.userAccount:hover,
.userBasket:hover {
  color: #f00;
}

.userImg,
.basketImg {
  width: 24px;
  height: 24px;
}
