.btnSave {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  width: 100%;
  padding: 12px 20px;
  margin-top: 30px;
  border-radius: 5px;
  border: none;
  color: var(--color-white);
  background: linear-gradient(
    90deg,
    var(--color-start-gradient) 0%,
    var(--color-end-gradient) 100%
  );
}

.btnAddressAdd {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  width: 100%;
  padding: 12px 20px;
  margin-top: 20px;
  border: 1px solid var(--color-red);
  border-radius: 5px;
  color: var(--color-red);
  background-color: var(--color-white);
}

.wrapperFieldData {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.titlePersonalAccount {
  color: var(--color-black);
  font-size: 40px;
  font-weight: 600;
}

.descriptionUser {
  display: flex;
  justify-content: space-between;
  color: var(--color-black);
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 3px;
}

.descriptionUser div:last-child {
  color: var(--color-blue);
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}

.titleAddress {
  display: flex;
  gap: 10px;
}

.titleAddress span {
  color: var(--color-blue);
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}

.aboutAccount {
  margin-top: 30px;
}

.popupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}

.popupContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
  background: rgb(233 139 139 / 60%);
}

.popupOpen {
  opacity: 1;
  visibility: visible;
}

.popupBody {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formPopup {
  max-width: 554px;
  max-height: 430px;
  background: var(--color-white);
  border-radius: 5px;
  padding: 30px;
}

.popupClose {
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.popupText {
  color: var(--color-input-text);
  padding-bottom: 20px;
}

@media (max-width: 645px) {
  .formPopup {
    max-width: 300px;
    max-height: 630px;
  }

  .addressContainer {
    gap: 35px 20px;
  }
}
