.btnSave {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  width: 100%;
  padding: 12px 20px;
  margin-top: 30px;
  border-radius: 5px;
  border: none;
  color: var(--color-white);
  background: linear-gradient(
    90deg,
    var(--color-start-gradient) 0%,
    var(--color-end-gradient) 100%
  );
}

.btnSave:disabled:hover {
  cursor: no-drop;
}

.btnAddressAdd {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  width: 100%;
  padding: 12px 20px;
  margin-top: 20px;
  border: 1px solid var(--color-red);
  border-radius: 5px;
  color: var(--color-red);
  background-color: var(--color-white);
}

.wrapperFieldData {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.titlePersonalAccount {
  color: var(--color-black);
  font-size: 40px;
  font-weight: 600;
}

.descriptionUser {
  display: flex;
  justify-content: space-between;
  color: var(--color-black);
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 3px;
}

.descriptionUser div:last-child {
  color: var(--color-blue);
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}

.titleAddress {
  display: flex;
  gap: 10px;
}

.titleAddress span {
  color: var(--color-blue);
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}

.titleAddress > .delete {
  margin-left: auto;
  font-size: 16px;
  font-weight: 400;
  height: 32px;
  padding: 0 20px;
  cursor: pointer;
  border: 1px solid var(--color-red);
  border-radius: 5px;
  color: var(--color-red);
  background-color: var(--color-white);
  line-height: 2;

  &:hover {
    color: var(--color-white);
    background-color: var(--color-red);
  }
}

.aboutAccount {
  margin-top: 30px;
}

@media (max-width: 645px) {
  .addressContainer {
    gap: 35px 20px;
  }
}
