.wrapperFooter {
  background-color: var(--color-black);
  padding: 80px 110px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  gap: 10px 20px;
}

.wrapperAddress {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.footerContacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tel {
  display: flex;
  gap: 20px;
}

.mail {
  display: flex;
  gap: 30px;
}

.tel span,
.mail span {
  color: #787878;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  display: inline-block;
}

.linkStyle {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
