* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --base-font: 'Inter';
  --color-white: #fff;
  --color-black: #323232;
  --color-grey: #f5f5f5;
  --color-start-gradient: #eb3349;
  --color-end-gradient: #f45c43;
  --color-grey-dark: #787878;
  --color-grey-light: #b9b9b9;
  --color-red: #f00;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: var(--base-font), sans-serif;
  font-style: normal;
  background-color: var(--color-white);
}

input {
  background-color: var(--color-grey);
  outline: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: var(--base-font), sans-serif;
}
