.headerNav {
  overflow: hidden;
  background-color: var(--color-white);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.dropdown {
  color: var(--color-black);
}

.dropdownContent {
  position: absolute;
  min-width: 115px;
  z-index: 1;
  background-color: var(--color-white);
  border: 1px solid var(--color-grey);
}

.dropLink {
  color: var(--color-black);
  padding: 10px 20px;
  cursor: pointer;
}

.dropBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.dropBtn > .arrow {
  width: 20px;
  height: 18px;
  transition: all 0.5s ease-out;
}

.dropdownContent .dropLink:hover,
.dropBtn:hover {
  color: var(--color-red);
}

.link {
  color: var(--color-black);
  cursor: pointer;

  &.active {
    border-bottom: 1px solid var(--color-black);
  }
}

.upArrow {
  transform: rotate(180deg);
  transition: all 0.5s ease-out;
}

.link:hover {
  color: var(--color-red);
}

.burgerBtn {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  align-items: center;
  background-color: var(--color-white);
  cursor: pointer;
  order: 5;
}

@media (max-width: 670px) {
  .headerNav {
    display: none;
    flex-direction: column;
    order: 4;
  }

  .burgerBtn {
    display: block;
    background-image: url('../../../shared/assets/icons/burger-open.svg');
    transition: all 0.3s;
    order: 3;
  }

  .upBurger {
    background-image: url('../../../shared/assets/icons/burger-close.svg');
  }

  .menuOpen {
    display: flex;
    align-content: end;
    width: 100%;
    align-items: center;
    margin-top: 30px;
  }
}
